@charset "UTF-8";
/**
 * main.scss
 */
/**
 * _settings.scss
 */
/**
 * _layout.scss
 */
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Lato:400,900,700|Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%;
  font-family: "Libre Baskerville", serif;
  line-height: 1.5em;
  color: #303030;
  background-color: #fff; }

.container {
  width: 100%;
  display: flex; }
  .container.outer {
    flex-direction: column; }
  .container .left, .container .right {
    width: 100%; }

.main-menu {
  display: flex;
  width: 100%; }
  .main-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .main-menu li {
    flex: 1 0 auto;
    width: 20%; }
  .main-menu a {
    display: block;
    text-align: center;
    line-height: 3em;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: #fff;
    margin: 0.1em 0; }
    .main-menu a:hover {
      text-decoration: underline; }

.left {
  background-color: #072448;
  background-image: linear-gradient(to right, #072448, #062041);
  color: #fff;
  display: flex; }

.right {
  padding: 1em; }

.card {
  width: 300px;
  height: 120px;
  margin: auto;
  background-color: #fff;
  color: #303030;
  padding: 1em;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.2); }

p {
  margin-bottom: 1.5em; }

@media screen and (min-width: 801px) {
  .container {
    height: 100%; }
    .container.outer {
      flex-direction: row; }
    .container .left {
      width: 33%;
      height: 100%;
      position: fixed;
      flex-direction: column; }
    .container .right {
      width: 77%;
      min-height: 101%;
      max-width: 40em;
      margin-left: 33%;
      padding: 3em; }

  .main-menu {
    flex: 1;
    display: flex; }
    .main-menu ul {
      width: auto;
      margin: 0 0 auto auto;
      flex-direction: column;
      transform: translateY(100px); }
    .main-menu li {
      width: 100%;
      padding-right: 1.5rem;
      position: relative; }
    .main-menu a {
      text-align: right;
      line-height: 1.25em;
      font-size: 1.25em;
      text-transform: lowercase; }

  body.home .main-menu-home::after,
  body.blog .main-menu-blog::after,
  body.about .main-menu-about::after,
  body.contact .main-menu-contact::after,
  body.more .main-menu-more::after {
    content: '';
    position: absolute;
    top: 0.4em;
    right: -1px;
    width: 16px;
    height: 20px;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    transition: 150ms ease-in-out;
    animation: dodge 150ms 1 ease-in-out; }
  body.home .main-menu-home:active::after,
  body.blog .main-menu-blog:active::after,
  body.about .main-menu-about:active::after,
  body.contact .main-menu-contact:active::after,
  body.more .main-menu-more:active::after {
    transform: translate(10px, 0); } }
@keyframes dodge {
  from {
    transform: translate(10px, 0); }
  to {
    transform: translate(0px, 0); } }
.site-footer {
  display: none; }

.johannes-braun {
  flex: 1 0 auto;
  overflow: hidden;
  text-align: right;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  display: none; }
  .johannes-braun a {
    display: inline-block;
    order: 2;
    color: #fff; }
  .johannes-braun img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2); }
  .johannes-braun figcaption {
    order: 1;
    padding-right: 0.5em;
    color: #fff;
    flex: 1 0 auto; }

/**
 * _blog.scss
 */
.post-list {
  list-style: none; }
  .post-list li {
    margin-bottom: 1.5em;
    border-bottom: 1px dotted #b3b3b3; }

.post-meta {
  color: #4d4d4d;
  font-family: "Source Sans Pro", sans-serif; }

.post-content .post-excerpt {
  font-size: 1em;
  font-weight: 700;
  font-family: "Libre Baskerville", serif; }

/**
 * _typography.scss
 */
body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5em;
  color: #4d4d4d; }

h1, h2, h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #101010;
  margin: 0 0 0.5em 0;
  line-height: 1em; }

a {
  color: #072448;
  text-decoration: none; }

p {
  margin: 1.5em 0; }

p.more {
  font-family: "Source Sans Pro", sans-serif; }
  p.more a::before {
    content: '» '; }

p.back {
  border-top: 1px dotted #b3b3b3;
  padding-top: 1.5em;
  margin-top: 3em;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 9em; }
  p.back a::before {
    content: '« '; }

.right
a {
  text-decoration: none;
  position: relative; }
  .right
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 33.33%;
    background-color: #ff6150;
    transform: scaleX(0);
    transition: transform 85ms ease-out;
    transform-origin: 0 0;
    z-index: -1; }
  .right
  a:focus::after, .right
  a:hover::after {
    transform: scaleX(1); }

/**
 * _sass/partials/_icons.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>
 * @package hannenz.de
 */
.icon {
  display: inline-block;
  vertical-align: middle; }
  .icon path {
    stroke: currentColor; }

.prism-show-language-label {
  font-family: monospace;
  line-height: 1;
  background-color: #F5F2F0;
  margin: 0;
  padding: 0.5em;
  text-align: right;
  display: none; }

pre[class*="language-"] {
  margin-top: 0 !important; }
