/**
 * _layout.scss
 */
*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	min-height: 100%;
	font-family: $serif;
	line-height: 1.5em;
	color: #303030;
	background-color: $white;
}

.container {
	width: 100%;
	display: flex;
	
	&.outer {
		flex-direction: column;
	}
	
	.left, .right {
		width: 100%;
	}
}


.main-menu {
	display: flex;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	li {
		flex: 1 0 auto;
		width: 20%;
	}
	a {
		display: block;
		text-align: center;
		line-height: 3em;
		font-family: $sans;
		text-decoration: none;
		color: #fff;
		margin: 0.1em 0;

		&:hover {
			text-decoration: underline;
		}
	}
}


.left {
	background-color: $primary-color;
	background-image: linear-gradient(to right, $primary-color, shade($primary-color, 10%));
	// box-shadow: 0 0 30px rgba(30, 30, 30, 0.2);
	color: #fff;
	display: flex;

	&::after {
		// content: '';
		// position: absolute;
		// top: 0;
		// right: -1px;
		// width: 20px;
		// height: 20px;
		// background-color: #fff;
		// clip-path: polygon(100% 0, 0 50%, 100% 100%);
		// transform: translateY(200px);
	}
}

.right {
	padding: 1em;
}

.card {
	width: 300px;
	height: 120px;
	margin: auto;

	background-color: #fff;
	color: #303030;
	padding: 1em;
	box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
}

p {
	margin-bottom: 1.5em;
}

@media screen and (min-width: 801px) {
	.container {
		height: 100%;
		&.outer {
			flex-direction: row;
		}
		
		.left {
			width: 33%;
			height: 100%;
			position: fixed;
			flex-direction: column;
		}
		.right {
			width: 77%;
			min-height: 101%;
			max-width: 40em;
			margin-left: 33%;
			padding: 3em;
		}
	}
	
	.main-menu {
		flex: 1;
		display: flex;
		
		ul {
			width: auto;
			margin: 0 0 auto auto;
			flex-direction: column;
			transform: translateY(100px);
		}

		li {
			width: 100%;
			padding-right: 1.5rem;
			position: relative;

		}
		a {
			text-align: right;
			line-height: 1.25em;
			font-size: 1.25em;
			text-transform: lowercase;
		}
	}

	body.home .main-menu-home,
	body.blog .main-menu-blog,
	body.about .main-menu-about,
	body.contact .main-menu-contact,
	body.more .main-menu-more {
		&::after {
			content: '';
			position: absolute;
			top: 0.4em;
			right: -1px;
			width: 16px;
			height: 20px;
			background-color: #fff;
			clip-path: polygon(100% 0, 0 50%, 100% 100%);
			transition: 150ms ease-in-out;
			animation: dodge 150ms 1 ease-in-out;
		}

		&:active::after {
			transform: translate(10px, 0);
		}
	}
}

@keyframes dodge {
	from { transform: translate(10px, 0); }
	to { transform: translate(0px, 0); }
}

.site-footer {
	// For now...
	display: none; 
}


.johannes-braun {

	flex: 1 0 auto;
	overflow: hidden;
	text-align: right;
	width: 100%;
	padding: 1em;
	// outline: 1px solid salmon;
	display: flex;
	align-items: center;

	display: none;

	a {
		display: inline-block;
		order: 2;
		color: $white;
	}

	img {
		border-radius: 50%;
		border: 2px solid $white;
		width: 100px;
		height: 100px;
		// display: block;
		box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
	}

	figcaption {
		order: 1;
		padding-right: 0.5em;
		color: $white;
		flex: 1 0 auto;
	}
}


.stack > * + * {
	margin-top: 6rem;
}

